<div id='blosts'>
  {{ include.words }} by {{ include.author | split: '-' | first | capitalize }}: <ul class='list-unstyled' id='blog-posts'></ul>
</div>

<script>

{% include blosts-by.html author = include.author %}

var blosts = {
  {{ blosts }}
}

$(function() {
  k = Object.keys(blosts)

  if(k[0] == null) {
    $('#blosts').remove()
  } else {
    // take the latest item
    $("#blog-posts").append(listItem(k.splice(0, 1)[0]))

    // and shuffle the rest
    while(k.length) {
      $("#blog-posts").append(listItem(k.splice(Math.floor(Math.random() * k.length), 1)[0]))
    }
  }
})

function listItem(k) {
  return '<li><a href="' + k + '">' + blosts[k] + '</a>'
}

</script>
