<header class="site-header">
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img alt="ODILabs" id="odi-logo" src="/assets/images/bubbles-outside.svg">
        </a>
      </div>

      {% include logo-modal.html %}

    </div>
  </div>

  <div class="collapse navbar-collapse">
    <div class="navbar navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav main-nav">

          {% for item in site.data.navigation %}
            {% assign bits = item.path | split: '/' %}
            {% capture size %}{{ bits | size }}{% endcapture %}
            {% if size == '2' %}
              {% if item.children %}
                <li class='dropdown'>
                  <a href='{{item.path}}' class='dropdown-toggle' data-toggle='dropdown'>{{ item.name }}
                    <i class='fa fa-chevron-circle-down'></i>
                  </a>
                  <ul class='dropdown-menu' role='menu'>
                    {% for child in item.children %}
                      <li>
                        <a href='{{ child.path }}'>{{ child.name }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li>
                  <a href='{{ item.path }}'>{{ item.name }}</a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}

        </ul>
      </div>
    </div>
  </div>

</header>

<script>
{% include svg-logo.html %}
</script>
