<header class="site-header">
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img alt="The ODI" id="odi-logo" src="//static.theodi.org/assets/logo-header-dc4ead7a18ea4133873c79502c174638.png"></a>
    </div>

    {% include logo-modal.html %}

  </div>
</div>

<div class="collapse navbar-collapse">
  <div class="navbar navbar-static-top">
    <div class="container">
      <ul class="nav navbar-nav main-nav">
        <li class="dropdown">
          <a href="/news">
            News &amp; blog
          </a>
        </li>
        <li class="dropdown">
          <a href="/get-involved">
            Get involved
          </a>
        </li>
        <li class="dropdown">
          <a href="/our-network">
            Our global network
          </a>
        </li>
        <li class="dropdown">
          <a href="/events">
            Events
          </a>
        </li>
        <li class="dropdown">
          <a href="/our-focus">
            Our focus
          </a>
        </li>
        <li class="dropdown">
          <a href="/publications">
            Publications
          </a>
        </li>
        <li class="dropdown last">
          <a href="/about">
            About the ODI
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

</header>

{% include navigation.html %}
