<div class="modal fade" id="getLogo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">
          Welcome to the ODI
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&#215;</button>
        </h4>
      </div>
      <div class="modal-body">
        <p>
          Knowledge for everyone
        </p>
        <p>
          The ODI helps to unlock the value of open data.
        </p>
        <p>
          If you want to use our logo, different sizes and types are here:
          <a href="http://theodi.org/brand">http://theodi.org/brand</a>
        </p>
        <p>
          <a rel="external" href="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dsml.png">
            <img src="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dsml.png" alt="">
          </a>
        </p>
        <p>
          <a rel="external" href="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dmed.png">
            <img src="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dmed.png" alt="">
          </a>
        </p>
        <p>
          <a rel="external" href="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dmed.png">
            <img src="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dlg.png" alt="">
          </a>
        </p>
        <p>
          <a rel="external" href="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dmed.png">
            <img src="http://bd7a65e2cb448908f934-86a50c88e47af9e1fb58ce0672b5a500.r32.cf3.rackcdn.com/uploads/assets/legacy/ODI%2Dlogo%2Dxlg.png" alt="">
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<script>
$("#odi-logo").on("contextmenu",function(e){
    e.preventDefault()
    e.stopPropagation()
    $('#getLogo').modal()
    return false
});
</script>
