$footer-height: 40px;

html {
  position: relative;
  min-height: 100%;
  text-transform: none;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  margin-top: $padding-large-vertical;

  background-color: $brand-primary;
  height: $footer-height;

  padding: $padding-large-vertical $padding-large-horizontal;

  text-align: center;

  a {
    color: white;
  }

  a:hover {
    text-decoration: none;
    color: $hover-colour;
  }
}
