---
---

$brand-primary: {{ site.data.colours.brand-primary }};
$hover-colour: darken($brand-primary, 10%);

@import 'bootstrap';
@import 'fonts';
@import 'nav';
@import 'footer';

body {
  font-family: $font-family-sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

#bio {
  h1, h2, ul {
    text-align: right;
  }

  p {
    text-align: justify;
  }
}

#blog-content {
  text-align: justify;

  img {
    max-width: 100%;
  }
}

h2.author {
  font-size: 1.5em;
}

.blog-archive {
  dd {
    border-bottom: 1px solid $gray-lighter;
  }

  dd:last-child {
    border-bottom: none;
  }

  dt {
    font-size: 1.5em;
  }
}

#blosts {
  font-size: 1.2em;
  text-align: center;
}

.labs {
  fill: $brand-primary;
  font-family: $font-family-sans-serif;
}

svg:hover .labs {
  fill: $hover-colour;
}

#logo {
  margin: $padding-small-horizontal;
}

.person {
  border: none;
  margin: auto;
  margin-bottom: $padding-large-vertical;
}

.portrait {
  margin-bottom: $padding-large-vertical;
  text-align: center;
}

a {
  color: $brand-primary;
}

a:hover {
  text-decoration: none;
  color: $hover-colour;
}
