---
---

@import 'bootstrap';
@import 'fonts';
@import 'colours';

body {
  font-family: $font-family-sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

.labs {
  fill: $brand-primary;
  font-family: $font-family-sans-serif;
}

#logo {
  margin: $padding-small-horizontal;
}

.person {
  border: none;
  margin: auto;
  margin-bottom: $padding-large-vertical;
}
