---
---

@import 'bootstrap';
@import 'fonts';
@import 'colours';

body {
  font-family: $font-family-sans-serif;
}

h1, h2, h3 {
  text-align: center;
}

#bio {
  h1, h2 {
    text-align: right;
  }

  p {
    text-align: justify;
  }
}

.labs {
  fill: $brand-primary;
  font-family: $font-family-sans-serif;
}

#logo {
  margin: $padding-small-horizontal;
}

.person {
  border: none;
  margin: auto;
  margin-bottom: $padding-large-vertical;
}

.portrait {
  margin-bottom: $padding-large-vertical;
}

$footer-height: 40px;

html {
  position: relative;
  min-height: 100%;
  text-transform: none;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  margin-top: $padding-large-vertical;

  background-color: $brand-primary;
  height: $footer-height;

  padding: $padding-large-vertical $padding-large-horizontal;

  text-align: center;

  a {
    color: white;
  }

  a:hover {
    text-decoration: none;
  }
}
