---
layout: default
---

{% for person in site.team %}
  {% capture slug-name %}{{ person.url | split: '/' | last }}{% endcapture %}
  {% if page.author.slug == slug-name %}
    {% assign author = person %}
  {% endif %}
{% endfor %}

<div class='row'>
  <div class='col-md-8'>
    <h1>{{ page.title }}</h1>
    {% if author.name %}
      <a href='{{ author.url }}'>
        <h2 class='author'>{{ author.name }} - {{ author.role }}</h2>
      </a>
    {% endif %}

    <div id='blog-content'>
      {{ page.details.content }}
    </div>
  </div>
  <div class='col-md-4'>
    {% if author.name %}
      <div class='row'>
        <div class='portrait col-md-12 hidden-xs'>
          <a href='{{ author.url }}'>
            {% include portrait.html photo = author.photo %}
          </a>
        </div>
        <div class='col-md-12'>
          <hr />
          {% include blosts.html author = author.id words = 'Other blogposts' %}
        </div>
      </div>
    {% endif %}
  </div>
</div>

<div class='row'>

</div>
